.banner {
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 22px;
  position: relative;
  h1 {
    font-size: 50px;
    font-weight: bolder;
  }
}

.banner-content {
  flex: 0 0 60%;
  h3 {
    padding-bottom: 20px;
  }
}
