.wrapper-footer {
  background: #333333;
  height: 120px;
  padding: 30px 20px;
}

.footer-items {
  justify-content: space-between;
  display: flex;
  font-size: 25px;
  color: #CCCCCC;
}

.footer-items p {
  font-size: 15px;
  right: 20px;
}
