.form-login {
  background-color: $gray-lighter;
  padding: 50px 20px;
  box-shadow: 1px 1px 1px $gray-lighter;
  border-radius: 3px;
  h1 {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
  }
  .btn {
    width: 100%;
  }
}
