.form-login {
  background-color: #F6F6F6;
  padding: 50px 20px;
  box-shadow: 1px 1px 1px #ECECEC;
  border-radius: 3px;
}

.form-login h1 {
  font-size: 22px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}

.form-login .btn {
  width: 100%;
}
