body {
  margin: 0;
  font-family: $base-font;
  font-size: $base-size;
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: $header-font;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}
.padded {
  padding: 80px;
}

.features {
  img {
    width: 100px;
  }
  h2 {
    margin-bottom: 8px;
    font-size: 20px;
  }
}
