<h1 class= "text-center">Notre team</h1>
<div class="padded">
  <ul class="list-inline text-center">
    <% data.teams.each do |guy, team| %>
    <li>
      <%= image_tag team.owner_picture, class: "avatar-large" %>
      <h3><%= team.owner_name %></h3>
    </li>
    <% end %>
  </ul>
  <h3 class="padded text-center">
    <% link_to "" do %>
    <i class="fa fa-envelope"></i> contact@airbnb.com
    <% end %>
  </h3>
</div>
